<!DOCTYPE html>
<html lang="en">
<head>
    <title><%- title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.ico">
    <script src="https://kit.fontawesome.com/3c3246e51c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar" style="background-color: <%- color%>;">
        <a href="#" class="navbar-brand"><%= domain %> | </a>

        <% for(let i =0 ; i< pages.length; i++) { %>
            <a id="<%="header"+i%>" class="hov nav-item nav-link" href="<%= pages[i].href %>"><%= pages[i].name %></a>
        <%}%>

        <a id="e-lang-en" class="en nav-item nav-link" href="">ENG</a>
        <a id="e-lang-ua" class="ukr nav-item nav-link" href="">UKR</a>
    </nav>


    <%- include('form.ejs') %>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
    <script src="/js/header.js"></script>
</body>
</html>